---
---

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700,400italic)
$gray: #CACACA
$night: #1B323B
$slate: #778194

body
    color: $night
    font-size: 16px
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
    font-weight: 400
    margin: 0
    padding: 0

a
    color: $slate
    text-decoration: none
    &:hover
        color: $night

.serif
    font-family: 'Noto Serif', serif

.nav-bar
    border-bottom: 1px solid $gray
    .wrapper
        margin: 0 auto
        max-width: 900px
        position: relative
        padding: 30px 0

    .site-title
        color: $night
        font-size: 20px
        font-weight: 700
        text-decoration: none

    .links
        position: absolute
        right: 0
        top: 46px

    .page-link
        color: $slate
        font-size: 15px
        letter-spacing: 1px
        margin: 0 0 0 30px
        text-decoration: none
        &:hover
            color: $night
        &.active
            font-weight: 700
            color: black

.connect-header-image
    background-size: 100%
    background-image: url("../images/memories/ski_mountains.jpg")
    background-repeat: no-repeat
    height: 550px

.thoughts-header-image
    height: 300px
    background-image: url("../images/memories/mountains_chamonix.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%

// actions
.page-subheading
    color: $slate
    font-size: 16px
    font-style: italic
    font-weight: 400
    text-align: center
    margin: 50px 0

.action-page-content
    margin: 0 auto
    max-width: 900px

    a
        color: $night
        font-weight: 700

    article
        text-align: center

        &.current-rows

            width: 200px
            margin: 30px 10px
            display: inline-block

            section

                &.current-logo

                    height: 200px
                    width: 200px

                    img
                        height: 150px
                        width: auto
                        margin: 25px 0

                &.current-description
                    text-align: left

        &.previously-logos

            section
                margin: 30px 0
                display: inline-block
                width: 297px
                height: 150px

            img
                width: auto
                max-width: 297px
                max-height: 150px
                vertical-align: middle

// common
.wrapper
    margin: 0 auto
    max-width: 900px

    .page-content
        article
            margin: 60px auto

            &.inline
                display: inline-block
                margin: 0 0 0 20px
                max-width: 700px
                vertical-align: middle

            &.about-me
                display: inline-block
                max-width: 450px
                margin: 100px 0 0 40px

            &.post-excerpt
                .post-date
                    color: $slate
                    font-size: 20px
                    margin: 20px 0
                    display: inline
                .post-title
                    font-weight: bold
                    font-size: 20px
                    margin: 20px 0
                    display: inline
                    a
                        color: $night

            &.book
                .book-author
                    color: $slate
                    font-size: 20px
                    display: inline
                .book-title
                    font-size: 20px
                    display: inline
                    a
                        color: $night

            &.contact-links
                text-align: left
                margin: 80px 0 0 100px
                max-width: 450px

                a
                    color: $slate
                    font-size: 40px
                    margin: 0 20px
                    &:hover
                        color: $night

.circular
    width: 300px
    height: 300px
    border-radius: 150px
    -webkit-border-radius: 150px
    -moz-border-radius: 150px
    background: url(/images/hiking_mugshot_425x425.png) no-repeat
    background-size: 100% 100%
